In [1]:
from Bio.Blast import NCBIWWW
from Bio.Blast import NCBIXML
from Bio import SeqIO 
import pandas as pd
from Bio import Entrez
import matplotlib.pyplot as plt

# Import the sequence(s)

In [3]:
seq_record = SeqIO.read('sequences/pathogens/house_keeping.fa','fasta')
#seq_record.id 
seq_record.seq

Seq('TCCCAAGCCAAGGAAGGTTATGC', SingleLetterAlphabet())

In [4]:
complement(seq_record.seq)

'AGGGTTCGGTTCCTTCCAATACG'

## Get the complement sequence

In [2]:
def complement(seq):
    complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A','a': 't', 'c': 'g', 'g': 'c', 't': 'a'} 
    bases = list(seq) 
    bases = [complement[base] for base in bases] 
    return ''.join(bases)

In [5]:
complement('GGGCCCCTGGAACAGAACTTCCAG')

'CCCGGGGACCTTGTCTTGAAGGTC'

## Multiple sequences

In [3]:
sequ = list(SeqIO.parse('sequences/pathogens/110722_e_block_guides.fa','fasta'))
sequ[0].seq

seq = []

for i in sequ:
    seq.append(complement(i.seq))
    
print(len(sequ))

8

In [32]:
bases = ''.join(list(reversed('ttctagcgataattccatgttgtagcgt')))
print(bases)
print('ttctagcgataattccatgttgtagcgt')

tgcgatgttgtaccttaatagcgatctt
ttctagcgataattccatgttgtagcgt

In [36]:
print(complement('GCCAAAGAGGGGGACCTTCGGGCCTCTC'))

CGGTTTCTCCCCCTGGAAGCCCGGAGAG

In [5]:
df = pd.DataFrame()

df['ID'] = [sequ[i].id for i in range(len(seq))]
df['Seq'] = [seq[i] for i in range(len(seq))]

df.iloc[1]

ID                        EF1_alpha
Seq    AACTAAAGTTGTTTAAATGTCCGTTATA
Name: 1, dtype: object

# Call blast from the NCBI website

In [6]:
result_handle = []

Entrez.email = 'ness.louafi@gmail.com'

for i in range(len(seq)):
    print('Trying sequence number ' + str(i)+'...')
    result_handle.append(NCBIWWW.qblast("blastn", "nt", seq[i], hitlist_size = 20,expect=0.05))
    print('Done with sequence ' + str(i) + ' !')

Trying sequence number 0...
Done with sequence 0 !
Trying sequence number 1...
Done with sequence 1 !
Trying sequence number 2...
Done with sequence 2 !
Trying sequence number 3...
Done with sequence 3 !
Trying sequence number 4...
Done with sequence 4 !
Trying sequence number 5...
Done with sequence 5 !
Trying sequence number 6...
Done with sequence 6 !
Trying sequence number 7...
Done with sequence 7 !

NCBIWWW.qblast?

In [14]:
seq[1]

'AACTAAAGTTGTTTAAATGTCCGTTATA'

# Display the results

In [13]:
'''
for i in range(len(result_handle)):
    with open('results/110722/e_block_sequences_'+str(i)+'.xml', 'w') as save_file: 
        blast_results = result_handle[i].read() 
        save_file.write(blast_results)
'''     

for i in range(8):
    for record in NCBIXML.parse(open("results/110722/e_block_sequences_"+str(i)+".xml")): 
         if record.alignments: 
            print("\n") 
            #print(df['ID'][i])
            print("results"+str(i))
            for align in record.alignments: 
                for hsp in align.hsps: 
                    if hsp.expect < 100:

                        print("match: %s " % align.title[:120])
                        print('e value:', hsp.expect)
                        
                    #print('e value:', hsp.expect)
'''          
    for alignment in record.alignments:
        for hsp in alignment.hsps:
            if hsp.expect < 0.05:
                print('****Alignment****')
                #print('length:', alignment.length)
                print('e value:', hsp.expect)
                #print(hsp.query[0:75] + '   ')
                #print(hsp.match[0:75] + '   ')
                #print(hsp.sbjct[0:75] + '   ')
'''

results6
match: gi|2256491757|gb|ON797082.1| Shewanella algae strain ROD100 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2250022289|gb|ON705638.1| Shewanella algae strain ROD067 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2239907349|gb|ON527592.1| Shewanella algae strain STJ2 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2234295446|gb|ON406384.1| Shewanella algae strain Si10C 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2234295443|gb|ON406381.1| Shewanella algae strain Si10 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2234295429|gb|ON406367.1| Shewanella algae strain Si4B 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2234295428|gb|ON406366.1| Shewanella algae strain Si4A 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2234295420|gb|ON406358.1| Shewanella algae strain Si1 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2231665325|gb|ON365757.1| Shewanella chilikensis strain YZF-10 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2219924760|gb|ON181734.1| Shewanella algae strain HAt 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2219924758|gb|ON181733.1| Shewanella chilikensis strain HAr 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2212577770|gb|ON077062.1| Shewanella algae strain HAt 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2212577769|gb|ON077061.1| Shewanella chilikensis strain HAr 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2199610100|gb|OM836844.1| Vibrio sp. strain 51 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2199610088|gb|OM836832.1| Vibrio sp. strain 39 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2156809549|gb|OL672375.1| Enterovibrio sp. strain MA EN P2.7 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2156809511|gb|OL672337.1| Enterovibrio sp. strain SWA EN P1.1 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2129415920|gb|OL372642.1| Shewanella sp. strain A8 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2127540938|gb|OL336829.1| Shewanella sp. strain A34 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2126970479|gb|OL321151.1| Shewanella chilikensis strain A15 16S ribosomal RNA gene, partial sequence
e value: 0.000628579


results7
match: gi|2258867381|gb|ON838106.1| Vibrio alginolyticus strain CEMTC_1316 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2246884435|gb|ON644544.1| Vibrio hyugaensis strain LUM05 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2246884434|gb|ON644543.1| Vibrio owensii strain LUM04 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2246884433|gb|ON644542.1| Vibrio owensii strain LUM01 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.000628579
match: gi|2249081995|gb|CP098034.1| Vibrio alginolyticus strain E110 chromosome 2, complete sequence
e value: 0.0267279
match: gi|2249080430|gb|CP098033.1| Vibrio alginolyticus strain E110 chromosome 1, complete sequence
e value: 0.000628579
match: gi|2239907451|gb|ON527643.1| Vibrio sp. strain XMS1 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2239907449|gb|ON527642.1| Vibrio sp. strain MDEF5 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2239907445|gb|ON527640.1| Vibrio sp. strain XY3-1 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2239907442|gb|ON527638.1| Vibrio sp. strain JSW-GREEN 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2239907440|gb|ON527637.1| Vibrio sp. strain XY11 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2239907439|gb|ON527636.1| Vibrio sp. strain XY10 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2241258201|gb|ON564507.1| Vibrio rhodolitus strain DXB14 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2241258200|gb|ON564506.1| Vibrio rhodolitus strain DXB13 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2241258198|gb|ON564504.1| Vibrio rhodolitus strain DXB11 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2241258197|gb|ON564503.1| Vibrio ponticus strain DXB10 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2241258192|gb|ON564498.1| Vibrio ponticus strain DXB05 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2241258191|gb|ON564497.1| Vibrio ponticus strain DXB04 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2239925011|gb|ON527719.1| Vibrio neocaledonicus strain MMRF2252 16S ribosomal RNA gene, partial sequence
e value: 0.000628579
match: gi|2239924988|gb|ON527696.1| Vibrio neocaledonicus strain MMRF2229 16S ribosomal RNA gene, partial sequence
e value: 0.000628579

"          \n    for alignment in record.alignments:\n        for hsp in alignment.hsps:\n            if hsp.expect < 0.05:\n                print('****Alignment****')\n                #print('length:', alignment.length)\n                print('e value:', hsp.expect)\n                #print(hsp.query[0:75] + '   ')\n                #print(hsp.match[0:75] + '   ')\n                #print(hsp.sbjct[0:75] + '   ')\n"

Put all the rsult per query in a dataframe (use the one defined above) and then find a way to characterize the species of each hit to try and filter the results.

The impression is that many sequences have 16s hits....

In [14]:
df["Matches"] = ""

for i in range(15):
    for record in NCBIXML.parse(open("results/vibrio_16s/corrected_analysis/corrected_"+str(i)+".xml")): 
        align_organism = []
        e_val = []
        for align in record.alignments: 
            #print(e_val)
            align_organism.append(align.hit_def)
            e_val.append(align.hsps.expect)
        print(e_val)
        #df.at[i,"Matches"] = align_organism
        #df.at[i,"e_Value"] = e_val
df

AttributeError: 'list' object has no attribute 'expect'

In [9]:
df

,ID,Seq,Matches,e_Value
0,G_01,ggtaacatttcaaaagcttgcttttgaa,[Shewanella algae strain ROD067 16S ribosomal ...,NaN
1,G_02,gttgtaaagtactttcagtcgtgaggaa,,NaN
2,G_03,gggtagaatttcaggtgtagcggtgaaa,,NaN
3,G_04,ggggataaccattggaaacgatggctaa,,NaN
4,G_05,tattgcacaatgggcgcaagcctgatgc,,NaN
5,G_06,gtattctttgacgttagcgacagaagaa,,NaN
6,G_07,tgatagaaatcaaggggatgcaagcgct,,NaN
7,G_08,cttatgatcaatatggtcatgcagcctt,,NaN
8,G_09,acattttcggtgatgtctttggtgatat,,NaN
9,G_10,acgctacaacatggaattatcgctagaa,,NaN
10,G_11,gattagataccctggtagtccacgccgt,,NaN
11,G_12,gagcatgtggtttaattcgatgcaacgc,,NaN
12,G_13,gatatccttgtttgccagcgagtaatgt,,NaN
13,G_14,aatcgtggatcagaatgccacggtgaat,,NaN
14,G_15,gtgggtagtttaacctttcggggaggac,,NaN

Now the idea is for each match, take the organism (class) from the NCBI accession and then be able to plot the kind of output we got per sequence

In [55]:
align_organism

Entrez.email = 'ness.louafi@gmail.com'

handle = Entrez.esearch(db="nt",accession=align_organism[0])
print(handle)

TypeError: esearch() missing 1 required positional argument: 'term'

In [ ]:
help(NCBIWWW.qblast)

In [29]:
from Bio import Entrez
from urllib.error import URLError
import time

Entrez.email = 'ness.louafi@gmail.com'
counter = 0 
list_record_host = []
for record in SeqIO.parse("sequences/test/sequences_10.fa", format="fasta"):
    print(record.id)
    print(counter)
    counter+=1
#         print(record.seq)

    # online request
    try:
        result_handle = NCBIWWW.qblast("blastn","nt",record.seq, hitlist_size = 10)
        print(result_handle)
    except HTTPError:
        time.sleep(5)
        result_handle = NCBIWWW.qblast("blastn","nt",record.seq, hitlist_size = 10)

    # result handle stored in a list
    list_record_host.append(result_handle)

0
0
<_io.StringIO object at 0x000002A56D3F01F0>
1
1
<_io.StringIO object at 0x000002A56D4020D0>
2
2
<_io.StringIO object at 0x000002A56D33F940>
3
3
<_io.StringIO object at 0x000002A56A1C4D30>
4
4
<_io.StringIO object at 0x000002A56A1F8670>
5
5
<_io.StringIO object at 0x000002A56D4021F0>
6
6
<_io.StringIO object at 0x000002A56D3BC3A0>
7
7
<_io.StringIO object at 0x000002A56D3BC1F0>
8
8
<_io.StringIO object at 0x000002A56D3BCCA0>
9
9
<_io.StringIO object at 0x000002A56D65D0D0>

In [30]:
for i in range(len(list_record_host)):
    with open('results/results'+str(i)+'.xml', 'w') as save_file: 
        blast_results = result_handle.read() 
        save_file.write(blast_results)

# Save and open the results

In [ ]:
for i in range(50):
    with open('results'+str(i)+'.xml', 'w') as save_file: 
        blast_results = result_handle.read() 
        save_file.write(blast_results)

E_VALUE_THRESH = 1e-20 
for record in NCBIXML.parse(open("results.xml")): 
     if record.alignments: 
        print("\n") 
        print("query: %s" % record.query[:100]) 
        for align in record.alignments: 
            for hsp in align.hsps: 
                if hsp.expect < E_VALUE_THRESH: 
                    print("match: %s " % align.title[:100])

In [ ]:
blast_params = {'program': 'blastp', 'database': 'nr', 'sequence': seq_record.seq, 'expect': 10.0}
blast_params['database'] = ['nr']
print_data = pd.DataFrame()
for database in blast_params['database']:
    db_values = {}
    result = NCBIWWW.qblast(blast_params['program'], database, blast_params['sequence'], expect=blast_params['expect'])
    file_name = "blast_output_" + database + ".xml"
    with open(file_name, "w") as output_xml:
        output_xml.write(result.read())
    result.close()
    result_input = open(file_name)
    blast_records = NCBIXML.read(result_input)
    for description in blast_records.descriptions:
        if 'score' in db_values:
            db_values['score'].append(description.score)
        else:
            db_values['score'] = [description.score]
        if 'e-value' in db_values:
            db_values['e-value'].append(description.e)
        else:
            db_values['e-value'] = [description.e]
    df = pd.DataFrame.from_dict(db_values)
    df['database'] = database[0:6] # we simply limit the name to the first 6 characters for easier viewing
    frames = [print_data, df]
    print_data = pd.concat(frames, ignore_index=True)

In [ ]:
E_VALUE_THRESH = 1e-20 
for record in NCBIXML.parse(open("blast_output_nr.xml")): 
     if record.alignments: 
        print("\n") 
        print("query: %s" % record.query[:100]) 
        for align in record.alignments: 
            for hsp in align.hsps: 
                if hsp.expect < E_VALUE_THRESH:
                    if "Arabidopsis thaliana" in align.title:
                        print("match: %s " % align.title[:100])

# Open when finished

In [ ]:
import webbrowser
webbrowser.open_new('http://localhost:8888/notebooks/Documents/iGEM/iGEM/Run%20BLAST.ipynb')