In [5]:
from Bio.Blast import NCBIWWW
from Bio.Blast import NCBIXML
from Bio import SeqIO 
import pandas as pd
import matplotlib.pyplot as plt

# Import the sequence(s)

In [16]:
seq_record = SeqIO.read('sequences/test/ELF3.fa','fasta')
#seq_record.id 
seq_record.seq

Seq('MKRGKDEEKILEPMFPRLHVNDADKGGPRAPPRNKMALYEQLSIPSQRFGDHGT...SKP', SingleLetterAlphabet())

# Call blast from the NCBI website

In [51]:
result_handle = NCBIWWW.qblast("blastp", "nr", seq_record.seq)

# Save and open the results

In [52]:
with open('results.xml', 'w') as save_file: 
    blast_results = result_handle.read() 
    save_file.write(blast_results)

E_VALUE_THRESH = 1e-20 
for record in NCBIXML.parse(open("results.xml")): 
     if record.alignments: 
        print("\n") 
        print("query: %s" % record.query[:100]) 
        for align in record.alignments: 
            for hsp in align.hsps: 
                if hsp.expect < E_VALUE_THRESH: 
                    print("match: %s " % align.title[:100])

query: unnamed protein product
match: ref|NP_180164.1| hydroxyproline-rich glycoprotein family protein [Arabidopsis thaliana] >sp|O82804.1
match: emb|VYS53527.1| unnamed protein product [Arabidopsis thaliana]
match: gb|KAG7642078.1| hypothetical protein ISN44_As02g020390 [Arabidopsis suecica]
match: gb|KAG7637467.1| hypothetical protein ISN45_At02g019970 [Arabidopsis thaliana x Arabidopsis arenosa]
match: emb|CAA0371864.1| unnamed protein product [Arabidopsis thaliana]
match: emb|CAA72719.1| nematode responsive protein [Arabidopsis thaliana]
match: emb|CAD5319528.1| unnamed protein product [Arabidopsis thaliana]
match: gb|OAP09466.1| PYK20 [Arabidopsis thaliana]
match: gb|EFH55167.1| hypothetical protein ARALYDRAFT_481449 [Arabidopsis lyrata subsp. lyrata]
match: emb|CAE6010521.1| unnamed protein product [Arabidopsis arenosa]
match: gb|KAG7572294.1| hypothetical protein ISN44_As09g006620 [Arabidopsis suecica]
match: ref|XP_020883196.1| protein EARLY FLOWERING 3 isoform X2 [Arabidopsis lyrata subsp. lyrata]
match: gb|KAG7567818.1| hypothetical protein ISN45_Aa04g006560 [Arabidopsis thaliana x Arabidopsis arenosa]
match: ref|XP_020883194.1| protein EARLY FLOWERING 3 isoform X1 [Arabidopsis lyrata subsp. lyrata]
match: ref|XP_010429612.1| PREDICTED: protein EARLY FLOWERING 3 [Camelina sativa]
match: ref|XP_006293368.1| protein EARLY FLOWERING 3 [Capsella rubella] >gb|EOA26266.1| hypothetical protei
match: ref|XP_010472622.1| PREDICTED: protein EARLY FLOWERING 3-like [Camelina sativa]
match: ref|XP_010417373.1| PREDICTED: protein EARLY FLOWERING 3-like [Camelina sativa]
match: ref|XP_006408833.1| protein EARLY FLOWERING 3 isoform X2 [Eutrema salsugineum] >gb|ESQ50286.1| hypot
match: emb|CAA7036847.1| unnamed protein product [Microthlaspi erraticum]
match: ref|XP_024015987.1| protein EARLY FLOWERING 3 isoform X1 [Eutrema salsugineum]
match: emb|CAH2060829.1| unnamed protein product, partial [Thlaspi arvense]
match: gb|KAF8047731.1| hypothetical protein N665_2849s0002 [Sinapis alba]
match: gb|AAM97051.1| unknown protein [Arabidopsis thaliana] >gb|AAN15504.1| unknown protein [Arabidopsis t
match: gb|KAF3495261.1| hypothetical protein DY000_02056998 [Brassica cretica]
match: gb|KAF8085585.1| hypothetical protein N665_0663s0029 [Sinapis alba]
match: gb|RID47845.1| hypothetical protein BRARA_I04408 [Brassica rapa]
match: ref|XP_013709873.1| protein EARLY FLOWERING 3-like [Brassica napus]
match: ref|XP_013604828.1| PREDICTED: protein EARLY FLOWERING 3-like [Brassica oleracea var. oleracea]
match: gb|KAH0865647.1| hypothetical protein HID58_082858 [Brassica napus]
match: emb|CAF2113808.1| unnamed protein product [Brassica napus]
match: emb|VDD58184.1| unnamed protein product [Brassica oleracea]
match: gb|KAF3574077.1| hypothetical protein F2Q69_00062591 [Brassica cretica]
match: emb|CAG7866329.1| unnamed protein product [Brassica rapa] >emb|VDC63333.1| unnamed protein product [
match: gb|KAG2259018.1| hypothetical protein Bca52824_078312 [Brassica carinata]
match: ref|XP_013663999.1| protein EARLY FLOWERING 3 isoform X1 [Brassica napus] >emb|CAF2049361.1| unnamed
match: gb|KAH0912668.1| hypothetical protein HID58_035989, partial [Brassica napus]
match: ref|XP_018509557.1| protein EARLY FLOWERING 3 isoform X2 [Brassica rapa]
match: gb|OAP09467.1| PYK20 [Arabidopsis thaliana]
match: gb|KAG5386650.1| hypothetical protein IGI04_038120 [Brassica rapa subsp. trilocularis]
match: gb|KAG5401529.1| hypothetical protein IGI04_016136 [Brassica rapa subsp. trilocularis] >gb|RID66436.
match: gb|KAH0929848.1| hypothetical protein HID58_015575 [Brassica napus] >emb|CAF2281209.1| unnamed prote
match: ref|XP_009140718.1| protein EARLY FLOWERING 3 [Brassica rapa]
match: gb|KFK29903.1| early flowering 3 [Arabis alpina]
match: gb|KAF8045637.1| hypothetical protein N665_4582s0001 [Sinapis alba]
match: ref|XP_018483654.1| PREDICTED: protein EARLY FLOWERING 3 isoform X1 [Raphanus sativus]
match: emb|CAG7907252.1| unnamed protein product [Brassica rapa] >emb|VDD13710.1| unnamed protein product [
match: ref|XP_022547044.1| protein EARLY FLOWERING 3 isoform X2 [Brassica napus]
match: ref|NP_001288828.1| protein EARLY FLOWERING 3 [Brassica rapa] >gb|AEB33726.1| EARLY FLOWERING 3 [Bra
match: ref|XP_018509556.1| protein EARLY FLOWERING 3 isoform X1 [Brassica rapa]

In [13]:
blast_params = {'program': 'blastp', 'database': 'nr', 'sequence': seq_record.seq, 'expect': 10.0}
blast_params['database'] = ['nr']
print_data = pd.DataFrame()
for database in blast_params['database']:
    db_values = {}
    result = NCBIWWW.qblast(blast_params['program'], database, blast_params['sequence'], expect=blast_params['expect'])
    file_name = "blast_output_" + database + ".xml"
    with open(file_name, "w") as output_xml:
        output_xml.write(result.read())
    result.close()
    result_input = open(file_name)
    blast_records = NCBIXML.read(result_input)
    for description in blast_records.descriptions:
        if 'score' in db_values:
            db_values['score'].append(description.score)
        else:
            db_values['score'] = [description.score]
        if 'e-value' in db_values:
            db_values['e-value'].append(description.e)
        else:
            db_values['e-value'] = [description.e]
    df = pd.DataFrame.from_dict(db_values)
    df['database'] = database[0:6] # we simply limit the name to the first 6 characters for easier viewing
    frames = [print_data, df]
    print_data = pd.concat(frames, ignore_index=True)

# Open when finished

In [14]:
import webbrowser
webbrowser.open('http://localhost:8888/notebooks/Documents/iGEM/iGEM/Run%20BLAST.ipynb',new=1,autoraise=True)

True

     score  e-value database
0   3745.0      0.0       nr
1   3725.0      0.0       nr
2   3724.0      0.0       nr
3   3720.0      0.0       nr
4   3703.0      0.0       nr
5   3367.0      0.0       nr
6   3183.0      0.0       nr
7   3180.0      0.0       nr
8   3043.0      0.0       nr
9   3039.0      0.0       nr
10  3024.0      0.0       nr
11  3020.0      0.0       nr
12  3012.0      0.0       nr
13  3010.0      0.0       nr
14  2855.0      0.0       nr
15  2829.0      0.0       nr
16  2826.0      0.0       nr
17  2803.0      0.0       nr
18  2365.0      0.0       nr
19  2346.0      0.0       nr
20  2337.0      0.0       nr
21  2215.0      0.0       nr
22  1947.0      0.0       nr
23  1813.0      0.0       nr
24  1612.0      0.0       nr
25  1602.0      0.0       nr
26  1551.0      0.0       nr
27  1551.0      0.0       nr
28  1543.0      0.0       nr
29  1542.0      0.0       nr
30  1541.0      0.0       nr
31  1538.0      0.0       nr
32  1535.0      0.0       nr
33  1532.0      0.0       nr
34  1525.0      0.0       nr
35  1492.0      0.0       nr
36  1490.0      0.0       nr
37  1490.0      0.0       nr
38  1476.0      0.0       nr
39  1469.0      0.0       nr
40  1460.0      0.0       nr
41  1459.0      0.0       nr
42  1454.0      0.0       nr
43  1450.0      0.0       nr
44  1448.0      0.0       nr
45  1448.0      0.0       nr
46  1436.0      0.0       nr
47  1435.0      0.0       nr
48  1435.0      0.0       nr
49  1432.0      0.0       nr